.checkout{
    margin: 80px auto;  
    color: rgb(0, 0, 0);
    
}
table{
    width:1000px;
    border-collapse: collapse;
    position: relative;
}
.jakker{
    width: 80px;
    height: 100px;
    margin-right: 10px;
}
.jacket-info{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
th{
    text-align: left;
    padding: 5px;
    color: rgb(0, 0, 0);
    background: #168AAD;
    font-weight: normal;
}
td{
    padding: 10px 5px;
}
td input{
    width: 30px;
    height: 15px;
    padding: 5px;
}
td a{
    color: #084253;
    font-size: 12px;
}
td img{
    width: 110px;
    height: 100px;
    margin-right: 10px;

}
.total{
    display: flex;
    justify-content: flex-end;
}
.total table{
    border-top: 3px solid;
    width: 90%;
    max-width: 350px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align:right;
}
.overlay{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background:#FFE8D6;
    opacity: 0.8;
    border-radius: 1%;
    
}
.checkout-details{
    position: absolute;
    right: 25%;
    top: 40px;
    margin-top: 10%;
    display: block;
    max-width: fit-content;
}
.box-confirm{
    position: absolute;
    right: 5%;
    top: 465px;
    font-size: 20;
}
@media(max-width:700px){
    .overlay{
        position: absolute;
        top: 0px;
        width: 100%;
        height: 460px;
        background:#FFE8D6;
        opacity: 0.8;
        border-radius: 1%;
        
    }
    .checkout-details{
        position: absolute;
        right: -40%;
        top: 200px;
        margin-top: 10%;
        max-width: fit-content;
        left: 40px;
    }
    .box-confirm{
        position: absolute;
        right: 19%;
        top: 500px;
        font-size: 20;
    }
    .total{
        display: flex;
        justify-content: flex-end;
    }
    .total table{
        border-top: 3px solid;
        width: 100%;
        max-width: 370px;
    }
    th{
        text-align: left;
        padding: 5px;
        color: rgb(0, 0, 0);
        background: #168AAD;
        font-weight: normal;
    }
    td:last-child{
        text-align: right;
    }
    th:last-child{
        text-align:right;
    }
    table{
        width:350px;
        border-collapse: collapse;
        position: relative;
    }
    .jakker{
        width: 50px;
        height: 60px;
        margin-right: 10px;
    }
}