*{
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
}
.jakker{
    width: 300px;
    position: absolute;
    right: 25%;
    top: 40px;
    margin-top: 10%;
}
h3{
    width: 90%;
    color: rgb(240, 237, 229);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: left;
    font-size: 140px;
}
p{
    width: 90%;
    color: rgb(240, 237, 229);
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: left;
    font-size: 30px;
}
.hero-btn{
    display: inline-block;
    text-decoration: 0;
    color: #fff;
    border: 3px solid #fff;
    padding: 20px 20px;
    font-size: 26px;
    background: transparent;
    position: absolute;
    top: 83%;
    left: 80%;
    transform: translate(-50%,-50%);
    text-align: left;
    cursor:pointer;
    border-radius: 40px;
}
.hero-btn:hover{
    border: 1px solid #0A3641;
    background: #168AAD;
    transition: 1s;
}
.checkbox{
    width: 90%;
    color: rgb(240, 237, 229);
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: justify;
    font-size: 30px;
    
}
input[type=checkbox] {
    transform: scale(1.6);
}
.price{
    position: absolute;
    top: 70%;
    left: 5%;    
}
small{
    width: 90%;
    color: rgb(240, 237, 229);
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: left;
    font-size: 35px;
}
@media(max-width:700px){
    h3{
        font-size:32px;
        top: 25%;
        left: 55%;
    }
    p{
        font-size: 16px;
        top: 92%;
        left: 55%;
    }
    .checkbox{
        font-size: 16px;
        justify-content: space-between;
        width: 100%;
        top: 89%;
        left: 70%;
    }
    .jakker{
        top: 20%;
        left: 10%;
    }
    .hero-btn{
        top: 96%;
        font-size: 16px;
        padding: 5px 5px;
        left: 50%;
    }
    .price{
        font-size: 32px;
        top: 30%;
        left: 13%;
    }
    small{
        font-size: 24px;
    }
}